@media screen and (min-width: 480px) {
.single-main-slider .synch-carousels .gallery {
    display: block;
}
}

@media screen and (min-width: 1024px) {
.single-main-slider .synch-carousels .right {
    position: relative;
    width: calc(100% - 230px);
    margin-bottom: 0;
    order: 2;
}
.single-main-slider .synch-carousels .left {
    overflow-y: scroll;
    width: 210px;
    padding-right: 2px;
}
.single-main-slider .synch-carousels .property-gallery-main .slick-slide {
    margin: 0 0 20px 0;
}
.single-main-slider .synch-carousels .property-gallery-main .slick-list {
    margin: 0;
}
}

@media screen and (min-width: 1400px){
.property-box .item img {
    height: 400px;
    object-fit: cover;
}
.property-box iframe {
    height: 400px;
}
}

@media screen and (min-width: 1650px){
.property-box .item img,
.property-box iframe {
    height: 500px;
}
}

@media screen and (min-width: 1900px){
.listing-outer,
.curated-event-sec,
.shop-wrapper {
    max-width: 1600px;
    margin: 0 auto;
}
.property-box .item img,
.property-box iframe {
    height: 400px;
}
}

@media screen and (max-width: 1299px){
.event-checkout-wrapper .quantity-field {
     width: 50%;
}
}

@media screen and (max-width: 1024px){
.tab-content-sec ul a {
    font-size: 16px;    
    letter-spacing: 1px;
}
.text-with-img-sec .sec-content {
    padding: 30px 50px 0 50px;
}
.property-box .slick-slide,
.property-box .item img,
.property-box iframe {
    height: 225px;
}
.two-col-sec .sec-img img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.listing-outer .property-box:after {
    width: 80px;
    height: 80px;
    top: -8px;
    right: 5px;
}
.curated-event-sec .event-thumbnail img,
.curated-event-sec .event-thumbnail iframe {
    height: 180px;
}
.curated-event-sec .event-info h5 {
    font-size: 18px;
}
.curated-event-sec .event-info p.event-price {
    font-size: 15px;
}
.curated-event-sec p.event-desc,
.curated-event-sec p.event-sub-head {
    font-size: 14px;
}
.event-checkout-wrapper .event-thumbnail img {
     width: 100%;
}
.event-single-wrapper .event-featured-image img,
.event-single-wrapper .event-featured-image iframe {
     height: 400px;
}
}

@media screen and (max-width: 1023px) {
.single-main-slider .slick-track {
    display: flex;
}
.single-main-slider .synch-carousels .nav-arrows {
    top: 40%;
}
.single-main-slider .synch-carousels .left {
    height: auto !important;
    overflow-x: scroll;
    padding-bottom: 2px;
}
.single-main-slider .left .item img {
    height: 100%;
}
}

@media screen and (max-width: 991px) {
header .navbar-collapse {
    height: 100% !important;
}
header .navbar-collapse .navbar-nav {
    position: absolute;
    top: -10px;
    padding: 30px;
    border-radius: 10px;
    background-color: #f5f5f5;
    border: 1px solid #dfdfdf;
    width: 100%;
    text-align: center;
    z-index: 999;
}
header a.login-btn {    
    width: fit-content;
    margin-inline: auto;
}
header li.dropdown .dropdown-menu,
header li.dropdown:hover .dropdown-menu {
    display: none !important;
}
header li.dropdown .dropdown-menu.show {
    display: block !important;
    width: 100%;
    text-align: center;
}
.text-with-img-sec a.border-btn {
    margin-top: 15px;
}
.text-with-img-sec .sec-btm-btn {
    padding-top: 50px;
}
.local-wineries-sec .sec-content {    
    max-width: 100%;
}
.local-wineries-sec {    
    padding: 80px 0;    
}
.testi-sec {
    padding: 50px 0;
}
.testi-sec .item:after,
.text-with-img-sec .sec-btm-btn:before,
.text-with-img-sec:before {
    content: unset;    
}
.testi-sec .item {
    max-width: 100%;
    padding: 50px 30px 50px 30px;
    text-align: center;
}
.testi-sec .sec-head h4 {    
    padding-right: 0;
}
.property-box .slick-slide,
.property-box .item img,
.property-box iframe {
    height: 455px;
}
.enquiry-modal .check-list ul {    
    grid-template-columns: repeat(2,1fr);
    gap: 4px;
}
.detail-form-sec .sub-type-radio {    
    grid-template-columns: 1fr;
    gap: 6px;
}
.detail-form-sec button.book-btn {
    width: fit-content;
}
.curated-event-sec .event-filters {
    position: unset;
}
.event-filters .accordion {
    display: none;
    transform: translateX(100%);
    padding: 35px 20px 20px 20px;
}
.event-filters .filter-close button.filter-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 6px;
    padding: 0;
    z-index: 1;
}
.shop-filters {
    display: none;
    transform: translateX(100%);
}
footer .footer-logo img {
    width: 30%;
}
}

@media screen and (max-width: 768px) {
.single-main-slider .right .item img {
    height: 350px;
}
.register-top-bar.tab-content-sec ul {
    padding: 12px 0 !important;
}
}

@media screen and (max-width: 767px){
.property-box .slick-slide,
.property-box .item img,
.property-box iframe {
    height: 308px;
}
.vendor-login-sec > .container {
    background-color: #f9f9f9;
    border-radius: 20px;
}
.vendor-login-sec .img-sec {
    border-radius: 20px;
}
.vendor-login-sec .sec-desc {    
    border-radius: 15px;
    padding: 30px;
    width: 100%;
}
.vendor-login-sec .img-sec img {
    width: 230px;
}
.vendor-login-sec .inner-content {
    padding: 30px 20px;    
    border-radius: 0 0 16px 16px;
}
.vendor-login-sec .form-login-option .form-check label,
.vendor-login-sec .form-login-option a {
    font-size: 13px;
}
.register-top-bar.tab-content-sec ul a {
    font-size: 9px !important;
}
.event-checkout-wrapper .row-container:has(#row-2) .row:first-child {
    padding-right: 0;
}
.event-checkout-wrapper .row-container .row {
    justify-content: end;
}
.event-checkout-wrapper .row-container .row .col-1 {
    padding: 0 30px 10px 0;
}
.event-checkout-wrapper .event-address,
.event-checkout-wrapper .event-timing {
    font-size: 15px;
}
.event-single-wrapper .event-featured-image img,
.event-single-wrapper .event-featured-image iframe {
     height: 180px;
}
.event-single-wrapper .event-price {
     font-size: 16px;
}
.event-single-wrapper .event-address, .event-single-wrapper .event-timing {
     font-size: 15px;
}
.event-single-wrapper .event-address {
     border-bottom: 0.5px solid #f4f4f4;
     padding-bottom: 6px;
}
.wine-club-listing-sec form {
    flex-wrap: wrap;
}
.wine-club-listing-sec form > div,
.wine-club-listing-sec form button,
.wine-club-listing-sec form.wine-filtar-bar>div,
.wine-club-listing-sec form.wine-filtar-bar button {
    width: 100%;
}
.wine-detail-sec .add-wines-cart,
.wine-club-listing-sec form.wine-filtar-bar {
    flex-wrap: wrap;
}
.wine-detail-sec .input-group {
    width: 40%;
}
.wine-recommend-slider .slick-arrow {
    width: 24px;
    height: 24px;
    top: 28%;
}
.wine-recommend-slider .slick-arrow.slick-prev {
    left: 0;
}
.wine-recommend-slider .slick-arrow.slick-next {
    right: 0;
}
.wine-detail-sec .wine-feature table {
    width: 100%;
}
.wine-detail-sec .wine-thumbnail img {
    height: 100%;
}
}
@media screen and (max-width: 600px){
header .navbar-collapse .navbar-nav {    
    padding: 15px;    
}
.tab-content-sec ul {
    padding: 12px 0;
}
.tab-content-sec ul li:first-child {
    padding-right: 15px;
}
.tab-content-sec ul a {
    font-size: 14px;
}
.banner-sec .sec-content h3 {
    font-size: 25px;
    padding-right: 30px;
}
.text-with-img-sec {
    padding: 20px 0;
}
.text-with-img-sec .sec-content {
    padding: 30px 20px 0 20px;
}
.text-with-img-sec .sec-img {    
    padding-inline: 20px;
}
.text-with-img-sec h3 {
    font-size: 25px;
    margin-left: 40px;
}
.text-with-img-sec .item img {
    height: 400px;    
}
.local-wineries-sec h3 {    
    font-size: 25px;
    line-height: 32px;
    margin-left: 40px;
}
.local-wineries-sec .sec-content p {
    font-size: 16px;
}
.local-wineries-sec .sec-content {
    padding: 30px;    
}
.side-filter {    
    height: 250px;    
}
.fixed-sidebar {
    position: unset;    
    height: unset;
}
.property-box .slick-slide,
.property-box .item img,
.property-box iframe {
    height: 230px !important;
}
.property-box .slick-slide {
    height: 100% !important;
    padding: 1px;
}
.property-box .room-info-inner {
    flex-wrap: wrap;
    row-gap: 6px !important;
}
.detail-page .property-feature,
.room-info-outer,
.property-box .property-feature {
    display: flex;
    gap: 15px;
}
.detail-page .property-feature ul,
.room-info-outer ul,
.property-box .property-feature ul {
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    border: none !important;
    margin-bottom: 0;
}
.checkin-dates .date-fields {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}
.pagination-bar .page-link {
    font-size: 14px;    
    width: 40px;
    height: 40px;    
}
.enquiry-modal .check-list ul {
    grid-template-columns: repeat(1,1fr);
}
.two-col-sec {
    margin: 30px 0 50px;
}
.two-col-sec h2 {
    font-size: 30px;
}
.two-col-sec .sec-img img {    
    height: 250px;    
}
.contact-sec .sec-form {    
    padding: 20px;    
}
.detail-form-sec button.book-btn {
    width: 100%;
}
.summary-content-sec {
    margin-bottom: 50px;
}
.summary-content-sec .info-label {
    font-weight: bold;
}
.summary-content-sec .detail-outer-box p,
.summary-content-sec .form-check-label {
    font-size: 14px;
}
.summary-content-sec .exp-update a {
    font-size: 13px;
}
.forgot-pwd-sec {
    padding: 50px 15px;    
}
.forgot-pwd-sec .inner-sec {    
    padding: 20px;    
}
.forgot-pwd-sec p {
    font-size: 14px;
}
.guest-reward-sec .benefits:before {    
    height: 100%;
}
.detail-page .owl-stage-outer,
.detail-page .owl-carousel iframe {
    height: 200px;
}
.single-main-slider .right .item img {
    height: 220px;
}
.single-main-slider .nav-arrows .slick-arrow {
    width: 30px;
    height: 30px;
    padding: 0;
}
.single-main-slider .synch-carousels .nav-arrows i {
    font-size: 14px;
}
.single-main-slider .nav-arrows .slick-arrow img {
    width: 25px;
    height: 25px;
}
.amenities-data ul {
    grid-template-columns: 1fr;
}
.curated-event-sec .event-thumbnail img {
    border-radius: 15px;
}
footer .footer-logo img {
    width: 50%;
}
}

@media screen and (max-width: 576px){
nav.navbar ul li.nav-item.dropdown,
nav.navbar ul li.nav-item {
    padding: 4px 10px;
}
.side-filter {
    display: none;
    transform: translateX(100%);
    padding: 35px 20px 20px 20px;
}
.filter-close button.filter-icon {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 0;
    z-index: 1;
}
.hours-modal .modal-content {    
    background-position: center;    
}
.hours-modal .modal-content:before {    
    background-color: #000000ba;    
}
.hours-modal li:not(.cuisine-value-sec li) {    
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    font-size: 15px;
}
.hours-modal span.weekday {
    margin-left: 0;    
}
.curated-exp-sec .nav li.nav-item:first-child button {
    border-radius: 10px 10px 0 0;
}
.curated-exp-sec .nav li.nav-item:last-child button {
    border-radius: 0;
    border-left: none;
}
.ttk-sec .fa-lg {
    font-size: 16px !important;
}
.terms-and-condition-content h1 {
    font-size: 28px;
}
.terms-and-condition-content  h2 {
    font-size: 20px;
}
.summary-content-sec #state-wrapper span.select2-selection {
    height: 39px;
}
.summary-content-sec .refund-policies ul {
    padding-left: 0 !important;
}
.order-thankyou-content p.lead {
    font-size: 18px;
    line-height: normal;
}
.curated-event-sec .event-info {
    min-height: unset;
}
.register-top-bar ul a svg {
    width: 24px !important;
    height: 24px !important;
}
.register-top-bar ul a svg.excursion-icon {
    width: 28px !important;
    height: 28px !important;
}
}

@media screen and (max-width: 360px){
header .navbar-brand img {
    height: 60px;
}
.tab-content-sec ul {
    padding: 15px 0;    
}
.text-with-img-sec h3 {
    font-size: 20px;    
}
.text-with-img-sec a.border-btn {    
    font-size: 11px;    
}
.detail-form-sec .check-label {
    font-size: 12px;    
}
.curated-event-sec .event-head a.view-btn {
    font-size: 14px;
}
.curated-event-sec .event-head h3 {
    font-size: 18px !important;
}
.register-top-bar.tab-content-sec ul a {
    font-size: 7px !important;
}
}